
/* REGOLE GENERALI: 
/* padding in em
/* margini in percentuale
/* altezza e larghezza in percentuale
/* border radius in em
/* font size in em */

/************************ GENERAL CSS ********************/

html {
  background-color: #EDEBE9;
}

body {
  margin: 3% 5%;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

legend {
  display: none;
}

.page-title {
  font-weight: bold;
  font-size: 4em;
  color: #3C2B26;
}

.warning-msg {
  color: #7c3c21;
}

.colored-button {
  background-color: #708A64;
  color: #FFF;
  border-radius: 2em;
  padding: 1em;
  margin-bottom: 2em;
  max-width: 160px;
}

.colored-button:visited {
  background-color: #bac964;
  color: #EDEBE9;
}

.colored-button:hover {
  background-color: #242424;
  color: #EDEBE9;
}

.confirm-button {
  background-color: #F90;
  color: #EDEBE9;
  border-radius: 2.5em;
  padding: 1.5em;
  font-weight: bold;
}

.confirm-button:hover {
  background-color: #7c3c21;
  color: #EDEBE9;
}

.subtitle {
  text-transform: uppercase;
  line-height: 2em;
  padding-bottom: 3em;
}

/* navbar homepage */

#SkipNav {
  display: none;
}

#SkipNav:focus, #SkipNav:active {
  color: #242424;
  display: block;
}

.navigation-bar {
  overflow: hidden;
}

.navigation-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-bar ul li a {
  float: left;
  color: #708A64;
  text-align: center;
  padding: 1.5em;
  margin: 2%;
  font-weight: bold;
  text-transform: uppercase;
}

.navigation-bar ul li a:hover, .navigation-bar ul li a:visited:hover{
  color: #242424;
}

.navigation-bar ul li a:visited{
  color: #bac964;
}

.navigation-bar .icon {
  display: none;
}

#Accedi, #Registrati, #Logout {
  float: right;
}

/* header homepage */

#Header {
  padding: 3em;
  display: grid;
  grid-template-columns: 50% 50%;
}

#HeaderTitle h1 {
  font-weight: bold;
  font-size: 6em;
  color: #3C2B26;
}

#HeaderImg {
  background-image: url("../images/header.png");
  background-repeat: no-repeat;
}

/* how it works homepage*/

#HowItWorks {
  background-color: #6C9070;
  padding: 2em;
  margin-top: 5%;
}

#HowItWorks h2 {
  font-weight: bold;
  font-size: 3em;
  color: #F3D6A9;
  text-align: center;
}

#HowItWorks ul {
  list-style-type: none;
  color: #EDEBE9;
  margin: 0;
  padding: 0;
  text-align: center;
}

#HowItWorks ul li {
  display: inline-block;
  color: #EDEBE9;
  text-transform: uppercase;
  height: 20em;
  background-repeat: no-repeat;
  background-position: center;
  width: 30%;
  padding-right: 2.5em;
}

#Order {
  background-image: url("../images/order.png");
}

#Refill {
  background-image: url("../images/refill.png");
}

#Delivery {
  background-image: url("../images/delivery.png");
}

/* categorie homepage */

#Categorie {
  padding-top: 3em;
  text-align: center;
}

#Categorie ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#Categorie a:visited li{
  border: #bac964 solid 0.2em;
  color: #bac964;
}

#Categorie ul a li {
  display: inline-block;
  padding-right: 2em;
  margin: 1% 0 1% 1%;
  color: #242424;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
  padding: 2em;
  border: #6C9070 solid 0.2em;
  border-radius: 2.5em;
}

#Categorie ul a li:hover {
  color: #708A64;
}

/* pagina negozio piante e filtri per categoria */

.plant-shop .pagination {
  display: inline-block;
  list-style-type: none;
}

.plant-shop .pagination-wrap {
  text-align: center;
}

.plant-shop .pagination li {
  float: left;
  padding: 1em;
}

.plant-shop .pagination li a {
  color: #000;
}

.plant-shop .pagination li a:visited {
  color: #6C9070;
}

.plant-shop .pagination li.active {
  background-color: #bac964;
  border-radius: 1em;
  color: #FFF;
}

.plant-shop .pagination li:hover:not(.active) {
  background-color: #ddd;
}

.plant-shop {
  margin: 3%;
}

.plant-shop .plants {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.plant-shop .plants li {
  background-color: #FFF;
  margin: 0.5%;
  flex: 1 1 22em;
  transition: 0.3s;
  box-shadow: 0 0.1em 0.1em rgba(0,0,0,0.2);
  max-width: 460px;
}

.plant-shop .plants li:hover {
    box-shadow:0 1.5em 1em rgba(0,0,0,0.15);
}

.plant-preview {
  display: flex;
}

.plant-preview-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  order: 2;
  margin: 2%;
  padding: 0;
  border: 0;
}

.plant-name {
  text-transform: uppercase;
  font-weight: bold;
}

.plant-price {
  color: #F90 ;
  font-size: 1.5em;
}

.plant-preview-image {
  order: 1;
  margin: 5%;
  border: 0;
  padding: 0;
}

.plant-preview-image img {
  display: block;
  max-height: 10em;
}

/* plant detail page */

.plant-detail-container {
  display: grid;
  grid-template-columns: 30% 50% 20%;
  padding: 3em;
}

.plant-detail-container img {
  border: 1em solid #fff;
}

.plant-desc-panel {
  padding: 0 5em;
}

.plant-detail-name {
  color: #6C9070;
  font-size: 3em;
  margin: 0;
  font-weight: bold;
  padding-bottom: 0.5em;
}

.plant-detail-spec {
  font-weight: bold;
  text-transform: uppercase;
  color: #4D5E52;
  padding-bottom: 2em;
}

.plant-detail-spec span {
  color: #242424;
  font-weight: normal;
  text-transform: none;
}

.plant-detail-desc {
  color: #4D5E52;
  line-height: 1.5em;
  text-align: justify;
}

.plant-info-panel {
  background-color: #6C9070;
  border-radius: 2em;
  padding: 2em 3em;
  text-align: justify;
}

.plant-info-panel dl dt {
  color: #EDEBE9;
  font-weight: bold;
}

.plant-info-panel dl dd {
   color: #000;
   margin: 0;
   padding: 2em 0;
}

/* pagina contatti */

#contacts {
  padding: 3%;
}

/* pagina su di noi */

.sudinoi p {
  text-align: justify;
  width: 50%;
}

/* pagina di checkout */



#checkout-content {
  display: grid;
  grid-template-columns: 70% 40%;
}

#checkout-summit table {
  padding-bottom: 3em;
}

#checkout-summit table thead tr th{
  background-color: #4D5E52;
  height: 2em;
  margin: 0;
  padding: 0.5em 1.5em;
  color: #EDEBE9;
  text-align: justify;
  border: #4D5E52 solid 1px;
}

#checkout-summit table tbody tr td {
  text-align: justify;
  padding: 0.5em 1.5em;
  border: #4D5E52 solid 1px;
}

#checkout-total p {
  font-size: 2em;
  font-weight: bold;
}

#checkout-total table thead tr th {
  background-color: #4D5E52;
  height: 2em;
  margin: 0;
  padding: 0.5em 1.5em;
  color: #EDEBE9;
  text-align: justify;
  border: #4D5E52 solid 1px;
}

#checkout-total table tbody tr td {
  text-align: justify;
  padding: 0.5em 1.5em;
  border: #4D5E52 solid 1px;
}

/* pagina login */

.login-page {
  padding: 3%;
}

.login-input-group {
  padding-bottom: 1.5em;
}

.login-input-group label {
  font-size: 1.5em;
  color: #4D5E52;
}

.login-input-group input {
  padding: 0.5em;
}

.login-page form button {
  background-color: #F90;
  color: #FFF;
  border-radius: 1.5em;
  padding: 1em 3em;
  font-weight: bold;
  font-size: 1em;
  border: none;
}

.login-page form button:hover {
  background-color: #7c3c21;
  color: #EDEBE9;
}

.login-page a {
  display: block;
  padding-top: 2em;
}

/* pagina di registrazione */

.register-page {
  padding: 3%;
}

.reg-input-group {
  padding-bottom: 1.5em;
}

.reg-input-group label {
  font-size: 1.5em;
  color: #4D5E52;
}

.reg-input-group input {
  padding: 0.5em;
}

.register-page form button {
  background-color: #F90;
  color: #FFF;
  border-radius: 1.5em;
  padding: 1em 3em;
  font-weight: bold;
  font-size: 1em;
  border: none;
}

.register-page form button:hover {
  background-color: #7c3c21;
  color: #EDEBE9;
}



/* ADMIN */

/* navbar admin */

.admin-navbar {
  overflow: hidden;
  background-color: #4D5E52;
  margin: 0;
}

.admin-navbar a {
  float: left;
  color: #FFF;
  text-align: center;
  padding: 1.5em;
  margin: 2%;
  font-weight: bold;
  text-transform: uppercase;
}

.admin-navbar a:hover{
  color: #242424;
}

.admin-navbar .icon {
  display: none;
}

#Logout {
  float: right;
}

/* sidebar admin */

.sidenav {
  background-color: #4D5E52;
  height: 100%; 
  width: 20%;
  z-index: 1; 
  top: 0; 
  left: 0;
  overflow-x: hidden; 
  margin: 0;
}

.sidenav a {
  padding: 1.5em 3em;
  display: block;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
}

.sidenav a:hover {
  color: #000;
}

/* admin content */

.admin-content {
  left: 25%;
  position: relative;
  top: -25em;
}

.admin-title {
  font-weight: bold;
  font-size: 3em;
  color: #3C2B26;
}

/* dashboard */

.dashboard table thead tr th {
  background-color: #4D5E52;
  height: 2em;
  margin: 0;
  padding: 0.5em 1.5em;
  color: #EDEBE9;
  text-align: justify;
  border: #4D5E52 solid 1px;
}

.dashboard table tbody tr td {
  text-align: justify;
  padding: 0.5em 1.5em;
  border: #4D5E52 solid 1px;
}

.dashboard table tbody tr td a {
  display: block;
}

/* ordini */

.orders table thead tr th {
  background-color: #4D5E52;
  height: 2em;
  margin: 0;
  padding: 0.5em 1.5em;
  color: #EDEBE9;
  text-align: justify;
  border: #4D5E52 solid 1px;
}

.orders table tbody tr td {
  text-align: justify;
  padding: 0.5em 1.5em;
  border: #4D5E52 solid 1px;
}

.orders table tbody tr td a {
  display: block;
}

/* reports */

.reports table thead tr th {
  background-color: #4D5E52;
  height: 2em;
  margin: 0;
  padding: 0.5em 1.5em;
  color: #EDEBE9;
  text-align: justify;
  border: #4D5E52 solid 1px;
}

.reports table tbody tr td {
  text-align: justify;
  padding: 0.5em 1.5em;
  border: #4D5E52 solid 1px;
}

.reports table tbody tr td a {
  display: block;
}

/* prodotti */

.admin-products table thead tr th {
  background-color: #4D5E52;
  height: 2em;
  margin: 0;
  padding: 0.5em 1.5em;
  color: #EDEBE9;
  text-align: justify;
  border: #4D5E52 solid 1px;
}

.admin-products table tbody tr td {
  text-align: justify;
  padding: 0.5em 1.5em;
  border: #4D5E52 solid 1px;
}

.admin-products table tbody tr td a {
  display: block;
}

/* edit product page */

.edit-product form {
  display: grid;
  grid-template-columns: auto auto;
}

.edit-input label {
  display: block;
  font-weight: bold;
  padding-bottom: 0.5em;
}

.edit-input input {
  margin-bottom: 1.5%;
  height: 2em;
  width: 60%;
}

.edit-input textarea {
  padding: 1em;
  width: 50%;
  overflow: auto;
}

.select-input {
  padding-bottom: 0.5em;
}

.select-input label {
  font-weight: bold;
}

.check-input {
  padding-bottom: 1em;
}

#check-title {
  font-weight: bold;
  display: block;
}

.edit-input2 label {
  font-weight: bold;
  padding-right: 2em;
}

.update-button input {
  background-color: #F90;
  color: #FFF;
  border-radius: 1.5em;
  padding: 1em 3em;
  font-weight: bold;
  font-size: 1em;
  border: none;
  margin-top: 2em;
}

.update-button input:hover {
  background-color: #7c3c21;
  color: #EDEBE9;
}

/* add product */

.add-product form {
  display: grid;
  grid-template-columns: auto auto;
}

/* categorie */

.add-cat {
  display: grid;
  grid-template-columns: auto auto;
}

.add-cat-form {
  padding-bottom: 2em;
}

.edit-cat-input label {
  font-weight: bold;
  display: block;
  padding-bottom: 0.5em;
}

.edit-cat-input input {
  height: 2em;
  width: 40%;
}

.add-cat-table  table thead tr th {
  background-color: #4D5E52;
  height: 2em;
  margin: 0;
  padding: 0.5em 1.5em;
  color: #EDEBE9;
  text-align: justify;
  border: #4D5E52 solid 1px;
}

.add-cat-table  table tbody tr td {
  text-align: justify;
  padding: 0.5em 1.5em;
  border: #4D5E52 solid 1px;
}

.add-cat-table  table tbody tr td a {
  display: block;
}

/* utenti */

#add-user {
  background-color: #F90;
  color: #FFF;
  border-radius: 1.5em;
  padding: 1em 3em;
  font-weight: bold;
  font-size: 1em;
  border: none;
  margin-top: 2em;
}

#add-user:hover {
  background-color: #7c3c21;
  color: #EDEBE9;
}

.users table {
  margin-top: 2em;
}

.users table thead tr th {
  background-color: #4D5E52;
  height: 2em;
  margin: 0;
  padding: 0.5em 1.5em;
  color: #EDEBE9;
  text-align: justify;
  border: #4D5E52 solid 1px;
}

.users table tbody tr td {
  text-align: justify;
  padding: 0.5em 1.5em;
  border: #4D5E52 solid 1px;
}

.users table tbody tr td a {
  display: block;
}




/* media query */


@media screen and (max-width: 1200px) {
    .navigation-bar ul > :not(:first-child) {display: none;}
    .navigation-bar li.icon {
        float: right;
        display: block;
    }

    .admin-navbar a:not(:first-child) {display: none;}
    .admin-navbar a.icon {
        float: right;
        display: block;
    }

    .header{
      grid-template-columns: 100% auto;
    }

    .header-title h1 {
      font-size: 4.5em;
    }

    .instructions {
      grid-column-gap: 5em;
    }

}

@media screen and (max-width: 1200px) {
    .navigation-bar.responsive {position: relative;}
    .navigation-bar.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navigation-bar.responsive ul li {
        float: none;
        display: block;
        text-align: left;
        padding-bottom: 1.5em;
    }

    .navigation-bar.responsive ul li a {
      float: none;
    }

    .admin-navbar.responsive {position: relative;}
    .admin-navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .admin-navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }



}
