
/* REGOLE GENERALI: 
/* padding in em
/* margini in percentuale
/* altezza e larghezza in percentuale
/* border radius in em
/* font size in em */

/************************ GENERAL CSS ********************/

html {
  background-color: #EDEBE9;
}

body {
  font-family: sans-serif;
  max-width: 1200px;
  margin: 3% auto;
}

a {
  text-decoration: none;
}

legend {
  display: none;
}

fieldset {
  border: none;
}

/* classi usate in tutto il sito */

/* titoli h1 nelle pagine */
.page-title {
  font-weight: bold;
  font-size: 4em;
  color: #3C2B26;
}

/* messaggi dal php */
.warning-msg {
  color: #d50d00;
  font-weight: bold;
  font-size: 1.3em;
}

/* bottone comune nel sito */
.colored-button {
  background-color: #557345;
  color: #FFF;
  border-radius: 2em;
  padding: 1.2em;
  margin-bottom: 2em;
  max-width: 160px;
}

.colored-button:visited {
  background-color: #6a197d;
  color: #FFF;
}

.colored-button:hover {
  opacity: 0.7;
}

/* bottone per azioni che richiedono più attenzione */
.confirm-button {
  background-color: #f37121;
  color: #FFF;
  border-radius: 2.5em;
  padding: 1.5em;
  font-weight: bold;
}

.confirm-button:hover {
  opacity: 0.7;
}

/* p nelle pagine */
.subtitle {
  text-transform: uppercase;
  line-height: 2em;
  padding-bottom: 3em;
}

/* tabelle del sito */
.table {
  padding-bottom: 3em;
}

.table thead tr th{
  background-color: #30774d;
  height: 2em;
  margin: 0;
  padding: 0.5em 1.5em;
  color: #EDEBE9;
  text-align: justify;
  border: #30774d solid 1px;
}

.table tbody tr td {
  text-align: justify;
  padding: 0.5em 1.5em;
  border: #30774d solid 1px;
}

/* bottone di conferma per i form */
.submit-button {
  background-color: #527318;
  color: #FFF;
  border-radius: 1.5em;
  padding: 1em 3em;
  font-weight: bold;
  font-size: 1em;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 2em;
}

.submit-button:hover {
  opacity: 0.7;
}

/* input dei form di login e registrazione */
.login-input-group {
  padding: 1em;
}

.login-input-group label {
  font-size: 1em;
  color: #4D5E52;
  font-weight: bold;
  text-align: left;
}

.login-input-group input {
  padding: 0.5em;
  width: 100%;
  display: inline-block;
  margin: 2em 0;
  box-sizing: border-box;
}

/* bottone di reset per i form */
.reset-button {
  margin-left: 2em;
  background-color: #FFF;
  color: #4D5E52;
  border-radius: 1.5em;
  padding: 1em 3em;
  font-weight: bold;
  font-size: 1em;
  border: none;
  cursor: pointer;
}

.reset-button:hover {
  opacity: 0.8;
}

/* navbar*/

/* link per saltare il menu */
.skip-nav {
  position: absolute;
  left: -100em;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.navigation-bar {
  overflow: hidden;
}

.navigation-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-bar ul li a {
  float: left;
  color: #57714c;
  text-align: center;
  padding: 0.5em;
  margin: 2%;
  font-weight: bold;
  text-transform: uppercase;
}

.navigation-bar ul li a:hover, .navigation-bar ul li a:visited:hover{
  color: #242424;
}

.navigation-bar ul li a:visited{
  color: #6a197d;
}

.navigation-bar ul li a.navlogo {
  position: relative;
  top:-1em;
}

.navigation-bar ul li a.navlogo img {
  width: 80%;
}

.navigation-bar .icon {
  display: none;
}

#Accedi, #Registrati, #Logout, #AdminLogout {
  float: right;
}

/* breadcrumb */

/* Stile generale */
div.breadcrumb {
  list-style: none;
  padding-left: 1em;
}

/* stile item list */
div.breadcrumb li {
  display: inline;
  font-size: 1em;
}

/* Metti un > dopo ogni list item */
div.breadcrumb li+li:before {
  padding: 8px;
  color: #3C2B26;
  content: ">\00a0";
}

/* colore dei link non visitati */
div.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* colore link visitati*/
div.breadcrumb li a:visited{
  color: #6a197d;
}

/* Colore quando metti il mouse sul link */
div.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* header homepage */

#Header {
  padding: 1em 3em;
  display: grid;
  grid-template-columns: 50% 50%;
}

#HeaderTitle h1 {
  font-weight: bold;
  font-size: 5em;
  color: #3C2B26;
}

#HeaderImg {
  background-image: url("../images/header.png");
  background-repeat: no-repeat;
}

/* footer */

.footer {
  border-top: 0.2em #242424 dotted;
  margin-top: 5em;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer dl dt {
  font-weight: bold;
}

.footer dl dd {
  padding-bottom: 0.5em;
}

/* come funziona homepage*/

#HowItWorks {
  background-color: #4f7253;
  padding: 2em;
  margin: 5% 3%;
}

#HowItWorks h2 {
  font-weight: bold;
  font-size: 3em;
  color: #ffe8ba;
  text-align: center;
}

#HowItWorks ul {
  list-style-type: none;
  color: #EDEBE9;
  margin: 0;
  padding: 0;
  text-align: center;
}

#HowItWorks ul li {
  display: inline-flex;
  color: #EDEBE9;
  text-transform: uppercase;
  height: 20em;
  background-repeat: no-repeat;
  background-position: center;
  width: 30%;
  padding-right: 2.5em;
}

#Order {
  background-image: url("../images/order.png");
}

#Refill {
  background-image: url("../images/refill.png");
}

#Delivery {
  background-image: url("../images/delivery.png");
}

/* link per le categorie homepage */

#Categorie {
  text-align: center;
}

#Categorie ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#Categorie ul li {
  display: inline;
}

#Categorie li a:visited{
  border: #6a197d solid 0.2em;
  color: #6a197d;
}

#Categorie ul li a {
  display: inline-block;
  padding: 1em;
  margin: 0.5% 0 0.5% 0.5%;
  color: #242424;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
  border: #4f7253 solid 0.2em;
  border-radius: 2.5em;
}

#Categorie ul li:hover a{
  opacity: 0.7;
}

/* pagina negozio piante e filtri per categoria */

/* link categorie nella pagina piante */
#Categorie ul.categorie-small {
  margin-bottom: 2em;
}

#Categorie ul.categorie-small li a{
  font-size: 1em;
  padding: 0.5em;
  border-radius: 1em;
}

/* paginazione */
.plant-shop .pagination {
  display: inline-block;
  list-style-type: none;
}

.plant-shop .pagination-wrap {
  text-align: center;
}

.plant-shop .pagination li {
  float: left;
  padding: 1em;
}

.plant-shop .pagination li a {
  color: #000;
  font-weight: bold;
}

.plant-shop .pagination li a:visited {
  color: #6a197d;
}

.plant-shop .pagination li.active {
  background-color: #94aa2a;
  border-radius: 1em;
  color: #FFF;
}

.plant-shop .pagination li:hover:not(.active) {
  background-color: #ddd;
}

/* pagina catalogo delle piante */
.plant-shop {
  padding: 0 3%;
}

/* lista piante */
.plant-shop .plants {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.plant-shop .plants li {
  background-color: #FFF;
  margin: 0.5%;
  flex: 1 1 22em;
  transition: 0.3s;
  box-shadow: 0 0.1em 0.1em rgba(0,0,0,0.2);
  max-width: 460px;
}

.plant-shop .plants li:hover {
    box-shadow:0 1.5em 1em rgba(0,0,0,0.15);
}

/* card della singola pianta */
.plant-preview {
  display: flex;
}

.plant-preview-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  order: 2;
  margin: 2%;
  padding: 0;
  border: 0;
}

.plant-name {
  text-transform: uppercase;
  font-weight: bold;
}

.plant-price {
  color: #a85200 ;
  font-size: 1.5em;
  font-weight: bold;
}

.plant-preview-image {
  order: 1;
  margin: 5%;
  border: 0;
  padding: 0;
}

.plant-preview-image img {
  display: block;
  max-height: 10em;
}

/* plant detail page */

.plant-detail-container {
  display: grid;
  grid-template-columns: 30% 50% 20%;
  padding: 3em;
}

.plant-detail-container img {
  border: 1em solid #fff;
  width: 90%;
}

/* pannello di centro */
.plant-desc-panel {
  padding: 0 2em;
}

.plant-detail-name {
  color: #4f7253;
  font-size: 3em;
  margin: 0;
  font-weight: bold;
  padding-bottom: 0.5em;
}

.plant-detail-spec {
  font-weight: bold;
  text-transform: uppercase;
  color: #4f7253;
  padding-bottom: 2em;
}

.plant-detail-spec span {
  color: #242424;
  font-weight: normal;
  text-transform: none;
}

.plant-detail-desc {
  color: #242424;
  line-height: 1.5em;
  text-align: justify;
}

/* pannello di destra */
.plant-info-panel {
  background-color: #4f7253;
  border-radius: 2em;
  padding: 2em;
  text-align: justify;
}

.plant-info-panel dl dt {
  color: #242424;
  font-weight: bold;
}

.plant-info-panel dl dd {
   color: #EDEBE9;
   margin: 0;
   padding: 2em 0;
}

/* pagina contatti */

#Contacts {
  padding: 3%;
}

/* pagina su di noi */

#Sudinoi {
  padding: 3%;
}

#Sudinoi p {
  text-align: justify;
}

/* pagina di checkout */

#Checkout {
  padding: 3%;
}

#CheckoutContent {
  display: grid;
  grid-template-rows: auto auto;
}

#CheckoutTotal p {
  font-size: 2em;
  font-weight: bold;
  padding-top: 1.5em;
}

/* pagina profilo */

#Profile {
  padding: 3%;
}

/* pagina login */

#LoginPage {
  padding: 3%;
}

#LoginPage h1 {
  text-align: center;
}

#LoginPage a {
  display: block;
  padding-top: 2em;
  color: #4D5E52;
  font-weight: bold;
}

#LoginPage a:hover, #LoginPage a:visited:hover {
  color: #242424;
}

#LoginPage a:visited {
  color: #6a197d;
}

/* pagina di registrazione */

#Register {
  padding: 3%;
}

#Register h1{
  text-align: center;
}

/* conferma acquisto */
#Conferma {
  margin: 3%;
}

/******************** ADMIN ************************/

/* navbar admin */

#AdminNavbar {
  background-color: #2a3a2f;
  color: #FFF;
  overflow: hidden;
}

#AdminNavbar ul li a {
  color: #EDEBE9;
  float: left;
  text-align: center;
  padding: 0.5em;
  margin: 2%;
  font-weight: bold;
  text-transform: uppercase;
}

#AdminNavbar li a:visited {
  color: #f3c623;
}

#AdminNavbar li a:visited:hover, #AdminNavbar li a:hover {
  color: #9f9f9f;
}

#AdminNavbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/* sidebar admin */

.sidenav {
  background-color: #2a3a2f;
  height: 100%; 
  position: absolute;
  overflow: auto;
}

.sidenav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidenav ul li a {
  padding: 1.5em 2em;
  display: block;
  color: #EDEBE9;
  font-weight: bold;
  text-transform: uppercase;
}

.sidenav ul li a:visited {
  color: #f3c623;
}

.sidenav a:hover, .sidenav ul li a:visited:hover {
  color: #9f9f9f;
}

/* admin content */

/* contenuto pagina admin */
.admin-content {
  padding-left: 15em;
  height: 100%;
}

/* titoli h1 delle pagine */
.admin-title {
  font-weight: bold;
  font-size: 3em;
  color: #3C2B26;
}

/* bottoni nella dashboard */
.admin-button {
  display: block;
  margin-top: 1.5em;
  background-color: #FFF;
  color: #4D5E52;
  border-radius: 1.5em;
  padding: 1em 2em;
  cursor: pointer;
}

.admin-button:hover, .admin-button:visited:hover {
  opacity: 0.7;
}

.admin-button:visited {
  background-color: #6a197d;
  color: #FFF;
}

/* prodotti */

#Products a {
  display: block;
}

/* modifica prodotto */

.edit-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 3em;
}

.edit-input-group label, .select-input-group label {
  display: block;
  font-weight: bold;
  padding-bottom: 0.5em;
}

.edit-input-group input {
  margin-bottom: 1.5%;
  height: 2em;
  width: 100%;
}

.edit-input-group textarea {
  padding: 1em;
  overflow: auto;
}

.select-input-group select option{
  padding-bottom: 0.5em;
}

/* categorie */

#AddCat form {
  padding-bottom: 2em;
}

/* utenti */
#Users a {
  display: block;
}

#EditUser .select-input-group {
  margin-bottom: 2em;
}


/* media query */

/* tablet in modalità landscape e laptop */
@media screen and (max-width: 1024px) {
    .navigation-bar ul > :not(:first-child) {
      display: none;
    }

    .navigation-bar li.icon {
        padding: 2em;
        float: right;
        display: block;
    }

    .navigation-bar.responsive {
      position: relative;
    }
    
    .navigation-bar.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navigation-bar.responsive ul li {
        float: none;
        display: block;
        text-align: left;
        padding: 1em 2em;
    }

    .navigation-bar.responsive ul li a.navlogo {
      display: none;
    }

    .navigation-bar.responsive ul li a {
      float: none;
    }

    #Accedi, #Registrati, #Logout, #AdminLogout {
      float: none;
    }

    #Header{
      grid-template-columns: 100% 0;
    }

    #HeaderTitle h1 {
      font-size: 4.5em;
    }

    #HeaderImg {
      display: none;
    }

    .plant-detail-container {
      display: grid;
      grid-template-columns: auto;
      padding: 3em;
    }

    .plant-detail-container img {
      width: 40%;
    }

    #CheckoutContent {
      display: grid;
      grid-template-columns: 100%;
    }

    .plant-info-panel {
      margin-top: 3em;
    }

    #Conferma {
      margin: 4%;
    }



}

/* tablet in modalità portrait */
@media screen and (max-width: 768px) {

  #Sudinoi {
    padding: 4%;
  }

  .plant-detail-container {
    padding: 2em;
  }

  .plant-desc-panel {
    padding: 1em 0.5em;
  }

  #AdminContent .table tr th{
    padding: 0;
  }

  #AdminContent .table tr td{
    padding: 0;
  }

}

/* telefoni in modalità lanscape */
@media screen and (max-width: 480px) {

  .navigation-bar ul li a.navlogo {
    padding-top: 2em;
  }

  #HeaderTitle h1 {
    font-size: 3em;
  }

  #HowItWorks {
    display: none;
  }

  .plant-detail-container img {
    width: 60%;
  }

  .table thead tr th {
    padding: 0;
  }

  .table tbody tr td {
    padding: 0;
  }

  #Profile {
    padding: 10%;
  }

  .reset-button {
    margin-left: 0;
  }

  .sidenav {
    overflow: hidden;
    height: auto;
    position: relative !important;
  }

  .sidenav ul li a {
    float: left;
  }

  #AdminContent {
    margin: 0;
    padding: 0;
  }

}

/* telefoni in modalità portrait */
@media screen and (max-width: 320px) {

  #Header {
    padding: 3%;
  }

  .page-title {
    font-size: 3em;
  }
  
  #Categorie ul li a {
    padding: 0.5em;
  }

  #Contacts ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .reset-button {
    margin-top: 1em;
  }

}

/************** CSS STAMPA ****************/
@media print {

  #HeaderImg {
    display: none;
  }

  .colored-button, .colored-button:visited {
    color: #000;
    border: 0.1em #000 solid;
  }

  #HowItWorks {
    margin: 1em;
  }

  #HowItWorks ul li{
    display: inline-block;
    color: #000;
    height: auto;
    width: auto;
  }

  .confirm-button, .confirm-button:visited, .submit-button, .submit-button:visited {
    color: #000;
    border: 0.1em #000 solid;
  }

}

